@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url('../fonts/HELVETICANEUE-THIN.OTF');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Helvetica Neue Thin' ;
    background: linear-gradient(to right,#4457fd,#63d3e3);
    color:#ffffff;
    padding: 0%;
    margin: 0%;
}

/*Navbar styles*/
.navBar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 4rem;
    padding: 18px 0;
}

.navItems{
  display: flex;
  gap: 1rem 2rem;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0%;
  margin-right: 124px;
  font-size: 20px;
}

.navBar a{
  color: #ffffff;
  text-decoration: none;
}

.logo img{
  width: 70%;
}

.hamburger{
  display: none; 
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 16px;
}

.line{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}



@media screen and (max-width: 768px) {
  .navBar{
    display: block;
    margin-left: 1rem;
  }
  .hamburger{
    display: block;
  }
  /*These classes activate by js*/
  .hamburger.active .line:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .line:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .logo img{
    width: 10rem;
  }
  .navItems{
    display: none;
  }

  .navItems.active{
    display: block;
    margin: 15px auto;
  }

  .navItems.active li{
      padding: 7px 0;
  }
   
}

/*main styles*/
.containter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 24px;
}

.first_para{
  font-size: 3em;
  margin: 15px 0;
  
}

.sec_para{
  font-size: 17px;
  margin: 15px 0;
}

.button_container{
  width: 165px;
  height: 50px;
  margin-top: 25px;
}

.get_startedBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 165px;
  min-height: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 50px;
  background: transparent;
  font-size: 17px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  font-family: inherit;
}

.button_container a{ 
  text-decoration: none;
}

.arrow-icon {
  margin-left: 10px;
}

@media screen and (max-width:1284px) {

  .para_containter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 
  .img_container{
    order: 1;
  }
  .para_containter{
    order: 2;
  }
} 

@media screen and (min-width:501px) and (max-width: 768px) {

  .para_containter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
  
  .image{
    width: 475px;
  }
  .first_para{
    width: 500px;
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {

  .para_containter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
  
  .image{
    width: 375px;
  }
  .first_para{
    font-size: 35px;
  }
}