@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url('../fonts/HELVETICANEUE-THIN.OTF');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Helvetica Neue Thin' ;
    background: linear-gradient(to right,#4457fd,#63d3e3);
    color:#ffffff;
    padding: 0%;
    margin: 0%;
}

/*Navbar styles*/
.navBar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 100px;
    padding: 18px 0;
}


.navItems{
  display: flex;
  gap: 1rem 2rem;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0%;
  font-size: 18px;
}

.navBar a{
  color: #ffffff;
  text-decoration: none;
}

.logo img{
  width: 70%;
}

.hamburger{
  display: none; 
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 16px;
}

.line{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}



@media screen and (max-width: 768px) {
  .navBar{
    display: block;
    margin-left: 1rem;
  }
  .hamburger{
    display: block;
  }
  /*These classes activate by js*/
  .hamburger.active .line:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .line:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .logo img{
    width: 10rem;
  }
  .navItems{
    display: none;
  }
  .navItems.active{
    display: block;
    margin: 15px auto;
  }

  .navItems.active li{
      padding: 7px 0;
  }
   
}

/*main styles*/
.containter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.para_containter{
  margin-left: 102px;
  width: 635px;
  height: 239px;
  margin-bottom: 265px;
  margin-top: 164px;
}

.first_para{
  font-size: 44px;
  margin: 15px 0;
  
}

.sec_para{
  font-size: 18px;
  margin: 15px 0;
}

.button_container{
  width: 163px;
  height: 43px;
  margin-top: 25px;
  margin-left: -2px;
  
}

.get_startedBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 165px;
  min-height: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 50px;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
}

.button_container a{ 
  text-decoration: none;
}

.arrow-icon {
  margin-left: 10px;
}

.image{
  width: 542px;
  height: 323px;
  margin-top: 113px;
  margin-right: 100px;
  margin-bottom: 232px;
}

@media screen and (max-width:1280px) {

  .containter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
 }

  .image{
    order: 1;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .para_containter{
    order: 2;
    margin-top: 10px;
  }
} 

@media screen and (min-width:768px) and (max-width: 972px) {

  .para_containter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
 }
  
  .image{
    width: 475px;
    height: 300px;
    margin-top: 35px;
  }
  .first_para{
    width: 500px;
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {

  .para_containter {
    width: auto;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
 }
  
  .image{
    width: 400px;
    height: 250px;
    margin-top: 35px;
  }
  .first_para{
    font-size: 35px;
  } 
}

@media screen and (max-width: 400px) {
  .image{
    width: 300px;
    height: 200px;
    margin-top: 35px;
  }
  .para_containter{
    margin-right: 5px;
    margin-top: 5px;
  }
  .first_para{
    font-size: 30px;
  } 
}